@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background-color: #F0F3F7 !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.blue-layout {
  background-color: #4194FF;
}

.yellow-layout {
  background-color: #FFB900;
}

.green-layout {
  background-color: #00C5B1;
}

.red-layout {
  background-color: #FF0000;
}

.green-button {
	background-color: #68E900;
	color: #fff;
	font-weight: bold !important;
	border-radius: 0px !important;
	border-bottom-right-radius: 5px !important;
	border-top-right-radius: 5px !important;
	height: 38px;
	width: 80px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.1) !important;
}

.card > div {    
  min-height: 90px;
}

.img-circle {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.d-flex-centralizer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
} 

.card-content {
	margin-right: auto;
	padding-left: 15px;
}

.icon-widget {
  font-size: 65px;
	color: #fff;
	min-height: 85px !important;
}

.text-widget {
  padding-left: 10px; 
}

.card-number {
  font-size: 2em;
  line-height: 0.8em;
}

.chat-box {
	background-color: #fff;
}

#btn-input {
	border: 1px solid rgba(0, 0, 0, 0.08) !important;
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.chat-box,
.card, 
.highcharts-container,
.green-button,
  {
	border: 1px solid rgba(0, 0, 0, 0.02) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
	border-radius: 0.25rem;
}


.chat-title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
	padding: 10px;
	margin: 0px;
}

@media (max-width: 576px) { 
  .card-number {
    text-align: center;
	}
	.card-content {
		margin-right: inherit;
		margin-top: 20px;
		padding-left: 0px;
		margin-bottom: 20px;
	}
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
	padding: 10px;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
	padding: 15px;
	overflow-y: scroll;
	height: 250px;
}

::-webkit-scrollbar-track {
		border-left: 1px solid rgba(0, 0, 0, 0.08) !important;
    background-color: #FAFAFA;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
		border-radius: 15px;
    background-color: #C0C0C0;
}
